.clothesSection {
    color: black;
    background-color: #fff ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    margin: 0 auto;
    }

.clothesSection__text {
        color:#000;
        width:100px;
        max-height:25px;
        justify-content:flex-start;
        text-align: left;
        margin: 0;
    }
 

    .clothesSection__headingContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        max-height:25px;
        max-width: 1440px;
    }

    .clothesSection__button {
        background-color:white;
        font-size: 12px;
        color: black;
        height:25px;
        width:100px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 500px;
        margin-bottom: 0px;
        padding-bottom: 7px;
        /* padding-right:200px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        cursor:pointer;
    }