
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: blue solid 2px;
  }

.toggle-switch__label {
  position: relative;
  width:0px;
  height: 50px;
  border-radius: 10px;
  background-color: purple;
 transition: background-color .3s;
 cursor: pointer;
 z-index: 10;
 color: white;
}

.toggle-switch__checkbox {
  width:100px;
  height: 100px;
}

.toggle-switch__checkbox_state_hidden {
/* display:contents; */
/* display: none; */
}

.toggle-switch__checkbox_state_visible {
  /* display: visible; */
}


