.profile {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 20px auto 20px auto;
}

@media screen and (max-width:950px) {
    .profile {
        max-width: 900px;
    }
}

@media screen and (max-width:750px) {
    .profile {
        max-width: 650px;
    }
}

@media screen and (max-width:450px) {
    .profile {
        max-width: 400px;
    }
}

 .profile-sidebar {
    flex-direction: column;
    background-color: #fff;
    width: 25%;
    min-height: 300px;
}

@media screen and (max-width:950px) {
    .profile-sidebar {
        width: 30%;
    }
}

@media screen and (max-width:750px) {
    .profile-sidebar {
        width: 40%;
    }
}

@media screen and (max-width:450px) {
    .profile-sidebar {
        width: 50%;
    }
}

.profile-clothes {
    background-color: #fff;
    width: 75%;
    min-height: 300px;
}

@media screen and (max-width:950px) {
    .profile-clothes {
        width: 70%;
    }
}

@media screen and (max-width:750px) {
    .profile-clothes {
        width: 60%;
    }
}

@media screen and (max-width:450px) {
    .profile-clothes {
        width: 50%;
    }
}


