  .page {
    max-width: 980px;
  }

  .page__wrapper {
    max-width: 60px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
  }
  
  .App-content {
    max-width: 860px;
    margin: 90px auto;
  }
  
  .App-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .App-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .modal__label {

  }


  .modal__input {

  }
  
  .modal__input_type_card-name{

  }

  .modal__error {

  }

  .modal-heading {

  }

  .modal__input_type_url {

  }

  .modal__input_type_radio {

  }

  .modal__label_radio {
    margin-left: 8px;
    color: rgba(0,0,0,.5)
}

/* .modal__label_radio:checked:after {
    color: #000000;
} */

  