  .page {
    max-width: 980px;
  }

  .page__wrapper {
    max-width: 60px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
  }
  
  .App-content {
    max-width: 860px;
    margin: 90px auto;
  }
  
  .App-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .App-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .ModalWithForm-label {
    font-size:16px;
}

.ModalWithForm-input {
  border: none;
  border-bottom: 1px solid #000000; 
  width: 440px;
  margin-left: 28px;
  margin-right:50px;
}

.ModalWithForm-heading {
  /* font-weight: 700; */
  margin-left: 28px;
  margin-top:24px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color:red;
  }

  .modal__label {

  }


  .modal__input {

  }
  
  .modal__input_type_card-name{

  }

  .modal__error {

  }

  .modal-heading {

  }

  .modal__input_type_url {

  }

  .modal__input_type_radio {

  }

  .modal__label_radio {
    margin-left: 8px;
    color: rgba(0,0,0,.5)
}

/* .modal__label_radio:checked:after {
    color: #000000;
} */

  