.main {
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: pink; */

}

.main__banner-daySunny {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/daySunny.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightSunny {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightSunny.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-dayCloudy {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/dayCloudy.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightCloudy {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightCloudy.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-dayFog {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/dayFog.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightFog {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightFog.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-dayRain {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/dayRain.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightRain {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightRain.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-daySnow {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/daySnow.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightSnow {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightSnow.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-dayStorm {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/dayStorm.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-nightStorm {
    max-width:100%;
    height: 80px;
    margin: 0 auto;
    background-image: url("../../images/nightStorm.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.main__banner-temperature {
    font-size: 36px;
    margin-left: 10px;
    max-width: 200px;
}

@media screen and (max-width:650px) {
.main__banner-temperature {
    font-size: 24px;
    /* margin-left: 10px; */
    /* max-width: 200px; */
}
}



  


.main__items {
    font-size: 24px;
    margin-left: 10px;
}

.main__clothes {

}

.main__info {

}

.main__description {

}

.main__description-container {

}

.main__description_slash {

}

