.clothes__container {
    width: 226px;
    height: 226px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #e9e9e9;
    margin: 50px 20px;
}
 
.clothes__title {
    color: black;
    font-size: 16px;
    background-color: white;
    text-align: center;
    margin: 0;
}

.clothes__image {
    max-width: 126px;
    height: 126px;
    margin: 0;
}

