.header {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    /* border:5px dashed red; */
    max-width: 860px;
    margin: 20px auto 20px auto;
  }

  .header__containerLeft {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: pink;

  }

  .header__containerCenter {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: lightskyblue;

  }

  .header__containerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: green;

  }

  .header__logo {
    display: flex;
    width: 89px;
    height: 25px;
    margin-top: 32px;
    margin-left: 40px;
    margin-bottom: 28px;
    margin-right: 0;

  }
  
  .header__textCenter {
    /* max-width: 860px; */
    /* margin: 90px auto; */
    color: black;
    display: flex;
    margin-top: 40px;
    margin-left: 24px;

  }
  .header__textRight {
    /* max-width: 860px; */
    /* margin: 90px auto; */
    color: black;
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-left: 24px;

  }

  .header__date2 {
    /* max-width: 860px; */ 
    /* margin: 90px auto; */
    color: black;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-left: 240px;

  }
  


