.header {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 1440px;
    margin: 20px auto 20px auto;
}

@media screen and (max-width:650px) {
  .header {
    max-width: 600px;
    }
}

@media screen and (max-width:400px) {
  .header {
    max-width: 350px;
    }
}

.header__containerLeft {
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-right: 20px;
}

.header__containerCenter {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.header__containerRight {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 40%;
    background-color: white;
}

.header__logo {
    display: flex;
    width: 89px;
    height: 25px;
    margin-top: 32px;
    margin-left: 40px;
    margin-bottom: 28px;
    margin-right: 100px;
}
  
.header__contentCenter {
    color: black;
    margin-top: 40px;
    margin-left: 24px;
}

.header__contentRight {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0;
    margin-top: 40px;
    margin-left: 15px;
}

.header__date2 {
    color: black;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-left: 240px;
}

.header__button {
    background-color:white;
    font-size: 12px;
    color: black;
    height:25px;
    width:100px;
    margin-left: 0px;
    margin-top: 35px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor:pointer;
}

.header__text {
  color: black;
  margin-top: 35px;

}
 
.header__avatar {
      display: flex;
      width: 45px;
      height: 45px;
      margin-top: 25px;
      margin-left: 20px;
}

.container {
  width:80px;
  height: 40px;
  }


.inputStatus {
    z-index: 10;
}

.input {
  position: relative;
  width:80px;
  height: 50px;
  border-radius: 25px;
  background-color: green;
 transition: background-color .3s;
 outline: none;
 cursor: pointer;
}

.input::after {
  content:'C';
  position: absolute;
  top:50%;
  left:30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: pink;
  transition:left .3s;
}

.input:checked {
  background-color: red;
}

input:checked::after {
  content:'F';
  left:70%;
  background-color: red;
}


