.header {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 860px;
    margin: 20px auto 20px auto;
}

@media screen and (max-width:650px) {
  .header {
    max-width: 600px;
    }
}

@media screen and (max-width:400px) {
  .header {
    max-width: 350px;
    }
}

.header__containerLeft {
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-right: 20px;
}

.header__containerCenter {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.header__containerRight {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
    background-color: white;
}

.header__logo {
    display: flex;
    width: 89px;
    height: 25px;
    margin-top: 32px;
    margin-left: 40px;
    margin-bottom: 28px;
    margin-right: 100px;
}
  
.header__contentCenter {
    color: black;
    margin-top: 40px;
    margin-left: 24px;
}

.header__contentRight {
    color: black;
    display: flex;
    justify-content:right;
    margin: 0;
    margin-top: 40px;
    margin-left: 15px;
}

.header__date2 {
    color: black;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-left: 240px;
}

.header__button {
    background-color:white;
    font-size: 12px;
    color: black;
    height:25px;
    width:100px;
    margin-left: 0px;
    margin-top: 35px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor:pointer;
}
 
.header__avatar {
      display: flex;
      width: 45px;
      height: 45px;
      margin-top: 32px;
      margin-left: 40px;
      margin-bottom: 28px;
      margin-right: 24px;
}

  


