.ItemModal-popup{
    position: fixed;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.3);
    z-index:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.ItemModal{
    background-color: #fff;
    position:relative;
    max-width:498px;
    height: 610px;
    border-radius: 16px;
    margin: 0 auto;
    padding:0;
    z-index: 0;
}

@media screen and (max-width:650px) {
    .ItemModal {
        max-width: 398px;
        height:498px;
    }
}

@media screen and (max-width:400px) {
    .ItemModal {
        max-width: 298px;
        height:498px;
    }
}

.ItemModal-close {
    position: absolute;
    top:27px;
    left:450px;
    width:14px;
    height:14px;
    color: rgba(0,0,0,0.3);
}

.ItemModal-image {
    width:498px;
    height:498px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.ItemModal-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.ItemModal-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    margin:15px 0px 0px 32px;
}

.ItemModal-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#FF4D00;
    margin:15px 32px 0px 0px;
    line-height:24px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.ItemModal-weather {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin:12px 0px 0px 32px;
    line-height:24px;
}

.ItemModalDelete-popup{
    position: fixed;
    margin:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.3);
    z-index:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.ItemModalDelete{
    background-color: #fff;
    position:relative;
    width: 670px;
    max-width:670px;
    height: 280px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 20px;
    margin: 0 auto;
    padding:0;
    z-index: 4;
}

.ItemModalDelete-close {
    position: absolute;
    top:23px;
    left:633px;
    width:14px;
    height:14px;
    color: black;
}

.ItemModalDelete-lineA {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: black;
    margin:60px 0px 0px 32px;
}

.ItemModalDelete-lineB {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: black;
    margin:0px 0px 0px 32px;
}

.ItemModalDelete-buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ItemModalDelete-button {
    font-size: 20px;
    font-weight: 700;
    color: #FF4D00;
    margin:40px 0px 0px 0px;
    line-height:24px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.ItemModalDelete-cancel {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin:24px 0px 0px 0px;
    line-height:24px;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .ItemModal-image {
        max-width: 398px;
        height:398px;
    }
}

@media screen and (max-width:400px) {
    .ItemModal-image {
        max-width: 298px;
        height:358px;
    }
}

@media screen and (max-width:650px) {
    .ItemModal-close {
        left:350px;
    }
}

@media screen and (max-width:400px) {
    .ItemModal-close {
        left:260px;
    }
}

.ItemModal-close:hover {
    cursor:pointer;
}