.ItemSection {
    color: black;
    background-color: white;
    /* border: 2px purple solid; */
    max-width: 1420px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

